# Ignore Python Class, Data, and Cache Files
*.pyc
*.pyo
*.pyd
__pycache__/

# ignore log files
*.log

#ignore data files and csv files
*.dat
*.csv
*.pdf
*.tex
*.docs
*.docx
*.csv
# ignore generated image files
*.svg
*.png

# ignore unit test coverage files

# ignore local settings files
local.py

# ignore files from running development server
nohup.out

# ignore chapter xml files
*.xml

# ignore migrations folders
migrations/

# ignore IntelliJ directories and settings
*.iml
.idea/

# ignore xml files

*.xml
